.FavouritesList {
  list-style: none;
  margin: 0;
  padding: 0;
}

:global {
  .fade-out {
    &-exit {
      max-height: 100px;
      transform: scale(1);
      opacity: 1;
    }
    &-exit-active {
      max-height: 0;
      opacity: 0.01;
      transform: scale(0);
      transform-origin: bottom right;
      transition: all .3s linear;
    }
  }
  .delayed-fade-in {
    &-enter {
      max-height: 0;
      opacity: 0.01;
      padding: 0 !important;
      transform: scale(0);
    }
    &-enter-active {
      max-height: 100px;
      opacity: 1;
      padding: .75rem;
      transform: scale(1);
      transition: all .3s linear;
      transform-origin: top left;
    }
    &-enter-done {
      padding: .75rem;
    }
  }
}