.More {
  background-color: white;
}

.MoreHeader {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  color: black;
  margin: 0;
  padding: 1rem;
  position: sticky;
  text-align: center;
  top: 0;
  width: 100%;

  h1 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 80%;
  }
}