.ForecastHeader {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  display: flex;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  width: 100%;
}

.Back,
.Favourite,
.Search {
  text-align: left;
  width: 25%;
}

.Search {
  text-align: right;
}

.BackLabel {
  margin-left: .2rem;
}

.Location {
  width: 50%;
}

.Suburb {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 0.2rem;
  padding: 0;
  text-align: center;
}

.County {
  color: darkgray;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
}
